  .App {
    display: flex;
  }

  * {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  html {
    color: black;
    scroll-behavior: smooth;
    background: #FFFFDE;
  }

  *:visited, *:link {
    text-decoration: none;
    color: black;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .Header {
    display: flex;
    width: 100%;
    position: fixed;
  }

  .header-wrap {
    width: 100%;
    display: flex;
    height: 70px;
  }

  .logo-wrap {
    display: flex;
    float: left;
    margin: 20px 20px;
    font-weight: 700;
    height: 25px;
    text-align: center;
  }

  .main-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    width: 100vw;
  }

  .intro {
    font-size: 300%;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .login-btn {
    display: flex;
    width: 130px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3ch;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 20px;
  }

  .project-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    width: 100vw;
  }

  .project-intro-wrap {
    font-size: 300%;
    font-weight: 900;
  }
  
  .show-project-btn {
    margin-top: 20px;
  }

  .show-project-btn button {
    display: flex;
    width: 130px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3ch;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 20px;
  }

  .ProjectModal {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-image: url('./images/AriPay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .AriPay {
    background: rgba(212, 212, 212, 0.437);
    display: block;
    text-align: center;
    width: 300px;
    height: 300px;
    position: relative;
    opacity: 0;
    font-size: small;
    font-weight: 700;
  }

  .AriPay span {
    font-size: 50px;
    font-weight: 700;
  }

  .AriPay p {
    margin-top: 8px;
  }

  .AriPay:hover {
    opacity: 1;
  }